// Define breakpoints, colors, font-size
$breakpoint-tablet: 768px; //md in Bootstrap
$breakpoint-desktop: 1200px; //xl in Bootstrap

$cl-light: #fff;
$cl-dark: #22343d;
$cl-btn: #02897a;
$cl-bg: #1f2e35;
$cl-border: #bcd0e5;
$cl-txt: #e0e0e0;

$fs-primary: 16px;

// Customize variables
$text-muted: $cl-txt;

$font-weight-lighter: 400;
$font-weight-light: 500;
$font-weight-normal: 600;

$h1-font-size: 34px;
$h2-font-size: 32px;
$h3-font-size: 30px;
$h4-font-size: 24px;
$h5-font-size: 22px;
$h6-font-size: 18px;
