*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 20px;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  list-style: none;
}

.Name {
  color: orange;
  margin-bottom: 20px;
}

.Kitty {
  color: blue;
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
}

.warning {
  color: orange;
  font-weight: 700;
  margin-top: 20px;
}

fieldset {
  margin-top: 20px;
}

.boil {
  color: green;
}

.not-boil {
  color: red;
}

.FancyBorder {
  margin-top: 10px;
  color: blue;
}

.SplitPane {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: bold;
}
